.search-box {
   width: fit-content;
   height: fit-content;
   position: relative;
}
.input-search {
   height: 50px;
   width: 50px;
   border-style: none;
   padding: 10px;
   font-size: 18px;
   letter-spacing: 2px;
   outline: none;
   border-radius: 25px;
   transition: all 0.5s ease-in-out;
   background-color: #fff;
   padding-right: 40px;
   color: rgb(0, 0, 0);
}
.input-search::placeholder {
   color: #000000;
   font-size: 18px;
   font-weight: 100;
}
.btn-search {
   width: 50px;
   height: 50px;
   border-style: none;
   font-size: 20px;
   font-weight: bold;
   outline: none;
   cursor: pointer;
   border-radius: 50%;
   position: absolute;
   right: 0px;
   color: #191924;
   background-color: transparent;
   pointer-events: painted;
}
.btn-search:focus ~ .input-search {
   width: 300px;
   border-radius: 0px;
   background-color: rgb(255, 255, 255);
   background-color: transparent;
   border-bottom: 1px solid #696969;
   transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.input-search:focus {
   width: 300px;
   border-radius: 0px;
   background-color: rgb(255, 255, 255);
   border-bottom: 1px solid #696969;
   transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

@media (max-width: 1505px) {
   .btn-search:focus ~ .input-search {
      width: 100% !important;
   }

   .input-search:focus {
      width: 100% !important;
   }
}

.btn-search:hover {
   color: #d81e5b;
}

.fa-user {
   transition: 0.3s;
}

.fa-user:hover {
   transition: 0.3s;
   color: #d81e5b;
}
